<div class="medium">
  <div class="content" [routerLink]="['./edit',medium.id]">
    <img class="image" src="{{ medium.thumbnail }}" [routerLink]="['./edit',medium.id]">
    <div class="main">
      <h3>{{ medium.title }}</h3>
      <app-medium-status
        [status]="medium.status">
      </app-medium-status>
    </div>
  </div>
  <!-- <div class="menu">
    <button (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
  </div> -->
  <div class="menu">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <!-- <button mat-menu-item (click)="delete()">
        <mat-icon>delete</mat-icon>
        <span>Supprimer</span>
      </button> -->
      <ng-template matMenuContent>
        <app-medium-actions
          [id]="medium.id"
          [status]="medium.status"
          [type]="'mat-menu-item'">
        </app-medium-actions>
      </ng-template>
    </mat-menu>
  </div>
</div>
<mat-divider></mat-divider>
