@use 'sass:map';

@mixin theme($theme-or-color-config) {
  $background: map.get($theme-or-color-config,background);
  $foreground: map.get($theme-or-color-config,foreground);

  .default {
    display : flex;

    button {
      display: flex;
      flex-direction: column;
      align-items: center;
      color : map.get($foreground, text);
      background-color: map.get($background, card);
      margin : 10px;
    }
  }
}
