<!--<mat-tab-group mat-align-tabs="start" [selectedIndex]="selected.value"
               (selectedIndexChange)="tabChanged($event)">
  <mat-tab label="Media">
    <div class="container">-->
      <app-medium *ngFor="let medium of media$ | async"
                  [medium]="medium">
      </app-medium>
      <!-- <p *ngFor="let medium of this.media.data | getValues">
        {{ medium.title }}
      </p> -->
      <!-- <p *ngIf="getMedia()"></p> -->
<!--
(parent)="exec ($event)"
  </div>
  </mat-tab>
  <mat-tab label="Ajouter">
    <div class="content"><!--[medium]="editMedium"-->
      <!--<app-edit-medium
                       [selected]="selected"
                       [error]="editError"
                       (parent)="exec ($event)"
                       >
      </app-edit-medium>-->
<!--    </div>
  </mat-tab>
</mat-tab-group>-->
